@model CookieAuthMVC.Models.Request.LogInRequest
@{
    Layout = "_LayoutLogIn";
    ViewData["Title"] = "LogIn";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <form asp-controller="Access" asp-action="LogIn" method="post">
        <h1>LogIN</h1>
        <input type="text" placeholder="UserID" asp-for="UserID" />
        <input type="password" placeholder="Password" asp-for="Password" />

        <button type="submit">LogIn</button>

        @if (ViewData["ValidateMessage"] !=null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
